<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (legume(); as legumeRef) {
      <div>
        <h2 data-cy="legumeDetailsHeading"><span jhiTranslate="gatewayApp.service1Legume.detail.title">Legume</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ legumeRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.service1Legume.libelle">Libelle</span></dt>
          <dd>
            <span>{{ legumeRef.libelle }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.service1Legume.price">Price</span></dt>
          <dd>
            <span>{{ legumeRef.price }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.service1Legume.quantite">Quantite</span></dt>
          <dd>
            <span>{{ legumeRef.quantite }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/legume', legumeRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
